

.layout-menu-fab{
   top: 4px;
   right: 4px;
}

.layout-menu-fab ul.layout-menu-options{
   height: auto;
   bottom: auto;
   top: 20px;
}

@media screen and (max-width: 600px){


   .layout-menu-fab .btn-floating.btn-large{
      height: 48px;
      width: 48px;
   }
   .layout-menu-fab .btn-floating.btn-large i{
      line-height: 48px;
   }

   .layout-menu-fab ul.layout-menu-options{
      top: 16px;
      right: 56px;
   }
}